@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-*: initial;
  --default-font-family: "Inter", sans-serif;
  --font-heading: "Figtree", sans-serif;

  --color-neutral-lightest: #F2F2F2;
  --color-neutral-lighter: #D9D9D9;
  --color-neutral-light: #B3B3B4;
  --color-neutral: #808182;
  --color-neutral-dark: #4D4E50;
  --color-neutral-darker: #1B1C1E;
  --color-neutral-darkest: #020305;

  --color-cello-lightest: #E8EBEF;
  --color-cello-lighter: #D2D7DF;
  --color-cello-light: #61758F;
  --color-cello: #1E3A5F;
  --color-cello-dark: #182E4C;
  --color-cello-darker: #0C1726;
  --color-cello-darkest: #09111C;

  --color-pizza-lightest: #FAF5E7;
  --color-pizza-lighter: #F6ECD0;
  --color-pizza-light: #E0BC5C;
  --color-pizza: #D4A017;
  --color-pizza-dark: #A98012;
  --color-pizza-darker: #544009;
  --color-pizza-darkest: #3F3006;

  --color-seagreen-lightest: #EAF3EE;
  --color-seagreen-lighter: #D5E7DD;
  --color-seagreen-light: #6CAD89;
  --color-seagreen: #2E8B57;
  --color-seagreen-dark: #246F45;
  --color-seagreen-darker: #123722;
  --color-seagreen-darkest: #0D291A;

  --color-sunglo-lightest: #FBF0F1;
  --color-sunglo-lighter: #F8E1E3;
  --color-sunglo-light: #E9989E;
  --color-sunglo: #E06C75;
  --color-sunglo-dark: #B3565D;
  --color-sunglo-darker: #592B2E;
  --color-sunglo-darkest: #432023;

  --color-amber-light: #FDF2E9;
  --color-amber: #F59E0B;
  --color-amber-dark: #D97706;

  --color-emerald-light: #ECFDF5;
  --color-emerald: #10B981;
  --color-emerald-dark: #059669;

  --color-coral-light: #FFF1F2;
  --color-coral: #FF6B6B;
  --color-coral-dark: #E04848;
}

body {
  color: var(--color-neutral-darkest);
}

#header-bar {
  @apply bg-cello-lightest flex w-full items-center border-b border-b-cello-lighter lg:min-h-18 lg:px-[5%] fixed top-0 z-10;
  img {
    @apply max-h-10 md:max-h-12;
  }

  > div {
    @apply size-full lg:flex lg:items-center lg:justify-between;

    div {
      @apply flex min-h-16 items-center justify-between px-[5%] md:min-h-18 lg:min-h-full lg:px-0;
    }
  }

  #menu-btn {
    display: none;
    position: absolute;
    top: -100%;
    left: -100%;
  }

  #primary-nav {
    @apply overflow-hidden px-[5%] lg:flex lg:items-center lg:px-0 lg:[--height-closed:auto] lg:[--height-open:auto] ease-in-out duration-3000 text-lg;
    height: var(--height-closed, 0);

    .nav-item {
      @apply block p-1.5
    }
  }
}
#hamburger-menu {
  @apply -rotate-180 ease-in-out duration-300 -mr-2 flex size-12 flex-col items-center justify-center lg:hidden;

  span {
    @apply my-0.75 h-0.5 w-6 bg-neutral-darkest;
  }
}
#header-bar:has(#menu-btn:checked) {
  #hamburger-menu {
    @apply rotate-180;
  }

  #primary-nav {
    height: var(--height-open, auto);
  }
}

body > .content-section:first-of-type  {
  @apply mt-16;
}
.content-section {
  @apply px-[5%] py-16 md:py-24 lg:py-28;

  .container {
    @apply m-auto flex flex-col;
  }
  .hero {
    @apply w-full max-w-7xl mb-12 text-center md:mb-18 lg:mb-20;
  }

  a {
    @apply underline;
  }
}

#footer {
  @apply bg-cello-lightest flex flex-col w-full items-center px-[5%] py-6 sm:py-12 border-t border-t-cello-lighter text-sm sm:text-base h-auto sm:h-64;

  .social-networks {
    @apply flex flex-row gap-8 mt-5 mb-5 sm:mt-10 sm:mb-10;

    svg {
      @apply size-8 text-cello;
    }
  }
}

.btn-bar.left-aligned {
  @apply justify-start;
}
.btn-bar {
  @apply mt-6 flex items-center justify-center gap-x-4 md:mt-8;
}
.btn-primary {
  @apply inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 cursor-pointer rounded bg-cello text-cello-lightest px-6 py-3;
}
.btn-secondary {
  @apply inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 cursor-pointer rounded bg-cello-lighter text-neutral-darkest px-6 py-3;
}
.btn-link {
  @apply underline;
}

#technologies {
  @apply px-[5%] py-12 md:py-16 lg:py-20;

  .logos-container {
    @apply grid grid-cols-2 gap-2 md:grid-cols-3;

    div {
      @apply flex w-full items-start justify-center justify-self-center bg-neutral-lightest px-4 pb-4 pt-[0.875rem] md:p-[0.875rem];
    }
    img {
      @apply max-h-12 md:max-h-14;
    }
  }
}

#home {
  .container {
    @apply items-center;
  }
}

.background-layer {
  @apply z-[-1] fixed w-dvw h-dvh;
  background-image: url("../images/city-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

#intro {
  @apply relative top-16 h-dvh pt-12 flex justify-center text-neutral-lightest;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), white);

  img {
    @apply h-20 mb-4 lg:h-40;
  }
  h1 {
    @apply text-4xl lg:text-8xl;
  }
  h2 {
    @apply text-xl lg:text-6xl;
  }
  .hero {
    @apply mb-0 mt-0 justify-center;
  }
}

#process {
  background: white;
}

#services {
  > .content-section {
    .container {
      @apply items-center;
    }
  }
  .architecture.content-section {
    > .container {
      @apply items-center;
      > div:first-of-type {
        text-align: center;
      }
    }
  }

  .our-process {
    .content-section {
      @apply pb-8 overflow-clip py-16;
      @media (height >= 64rem) {
        @apply md:sticky md:border-t md:pb-14 lg:pb-0 md:h-dvh lg:py-28;
      }
    }

    .process-item {
      @apply grid grid-cols-1 gap-y-12 md:items-center md:gap-x-12 lg:grid-cols-2 lg:gap-x-20 py-8 md:py-10 lg:py-12;
    }

    .embed {
      @apply bg-amber-dark;
      @media (height >= 64rem) {
        @apply md:top-16 lg:mb-32;
      }
    }

    .adapt {
      @apply bg-cello-light;
      @media (height >= 64rem) {
        @apply md:top-32 lg:-mt-16 lg:mb-16;
      }
    }

    .lifecyle {
      @apply bg-emerald-dark;
      @media (height >= 64rem) {
        @apply bg-emerald-dark;
      }
    }

    img {
      @apply h-100 w-full object-cover sm:h-120 md:h-[60vh];
    }
  }

  .architecture.content-section {
    @apply top-0;
  }

  .architecture {
    input[type=radio] {
      display: none;
      position: absolute;
      top: -100%;
      left: -100%;
    }

    @media (height >= 64rem) {
      .container, .end-sticky {
        @apply relative md:sticky md:top-32 md:h-dvh;
      }

      .end-sticky {
        @apply md:h-80;
      }
    }

    .details-container {
      @apply grid grid-cols-1 items-center gap-x-12 md:grid-cols-2 lg:gap-x-20 mt-16;
    }

    .image-column {
      @apply hidden md:flex mb-6 max-h-full w-full items-center justify-center overflow-hidden md:mb-0 relative;
      padding-bottom: calc(100% + 2rem);
      div {
        @apply absolute opacity-0;
        transition: opacity 300ms ease-in-out;
        top: 0;
      }
      img {
        @apply size-full object-cover;
      }
    }

    .details-column {
      @apply relative grid auto-cols-fr grid-cols-1 grid-rows-[auto_auto] items-start md:items-stretch;
      > div:first-of-type {
        @apply mt-8 md:mt-0 md:pt-0;
      }
      > div {
        @apply mt-16 md:mt-0 md:cursor-pointer md:border-b md:py-6 md:opacity-25;
      }

      h3 {
        @apply md:mb-0;
      }
      p {
        interpolate-size: allow-keywords;
        transition: height 300ms ease-in-out;
        @apply md:mt-0 overflow-hidden md:h-0;
      }
      .image {
        @apply pt-8 md:hidden;
      }
      > div:has(input:checked) {
        @apply md:opacity-100;
        h3 {
          @apply md:mb-6
        }
        p {
          @apply md:mt-4 md:h-auto;
        }
      }
    }

    .details-container:has(input[value=foundations]:checked) .foundations,
    .details-container:has(input[value=maintainable]:checked) .maintainable,
    .details-container:has(input[value=alignment]:checked) .alignment {
      @apply opacity-100
    }
  }

  .craft {

    .content-section:first-of-type {
      .container {
        @apply items-center;

        > div:first-of-type {
          text-align: center;
        }
      }
    }
    .content-section {
      @apply py-16;
      @media (height >= 64rem) {
        @apply md:sticky md:top-16 lg:mb-32 lg:pb-0 md:h-dvh;
      }
    }

    .content-section:not(:first-of-type) {
      @apply px-[5%] py-8 md:py-16;
      .container {
        @apply grid grid-cols-1 gap-y-12 md:grid-cols-2 md:items-center md:gap-x-12 lg:gap-x-20;
      }
    }

    .jvm-languages {
      @apply bg-amber-dark;
      @media (height >= 64rem) {
        @apply md:top-100 lg:-mt-16 lg:mb-16;
        img {
          @apply md:h-[55dvh];
        }
      }
    }

    .spring-boot {
      @apply bg-cello-light;
      @media (height >= 64rem) {
        @apply md:top-116 lg:mb-0;
        img {
          @apply md:h-[50dvh];
        }
      }
    }

    .frontend {
      @apply bg-emerald-dark;
      @media (height >= 64rem) {
        @apply md:top-132 lg:mb-0;
      }
    }

  }
}

#contact-us {
  .content-section {
    display: block;

    .container:not(:first-of-type) {
      > div {
        @apply grid auto-cols-fr grid-cols-1 gap-x-12 gap-y-12 md:grid-cols-3 md:gap-y-16;
      }

      svg {
        @apply size-12 mb-5 lg:mb-6;
      }

      p {
        @apply mb-5 md:mb-6;
      }

      .email, .phone, .post {
        svg, h3 {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

h1 {
  @apply font-heading mb-5 text-6xl font-bold md:mb-6 lg:text-8xl;
}
h2 {
  @apply font-heading mb-5 text-4xl font-bold md:mb-6 lg:text-6xl;
}
h3 {
  @apply font-heading mb-5 text-2xl font-bold md:mb-6 md:text-3xl md:leading-[1.3] lg:text-4xl;
}

@media (height >= 62rem) {
  section:has(+footer) {
    @apply sticky top-16 flex items-center justify-center;
    height: calc(100dvh - (var(--spacing) * 64));
  }
}
